body{
	font-family: 'Roboto Mono', monospace, sans-serif;
	background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80);
	max-height: 100vh;
	max-width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left: -15px;
}

#container{
	max-width: 45%;
	max-height: 40%;
	margin: 10% auto;
	background-color: #f7f7f7;
	border-radius: 20px;
	box-shadow: 3px 6px 8px rgba(76, 75, 75, 0.644);
	overflow: hidden;
	padding-bottom: 2%;
}

h1{
	background-color: #45c556ee;
	color: white;
	margin: 0;
	padding: 5px 20px;
	border-radius: 18px 18px 0 0;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400;
}

/* .inputBox {
  display: flex;
  width: 100%;
} */

input[type=text]{
	font-size: 18px;
	background-color: #f7f7f7;
	color: darkgreen;
	max-width: 100%;
	box-sizing: border-box; 
	border: 2px solid  #89d1e7e7;
}





ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	background-color: #fff;
	height: 40px;
	line-height: 40px;	
	color: #666;
}


li:nth-child(2n){
	background-color: #b8e9c013;
}

li:nth-last-child(1){
	border-radius: 0 0 18px 18px;
}

/* li span{
	background-color: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
} */

li:hover span{
	width: 40px;
	opacity: 1.0;
}


.complete{
	color: grey;
	text-decoration: line-through;
}

.fa-plus{
	padding-top: 5px;
	float: right;
	transform: rotate(45deg);
}

.fa-plus-rotate {
  transform: rotate(-45deg);
  float: right;
}

#footer{
	margin-top: 20px;
}
#btn{
	float: right;
}

input[type=checkbox]{
	margin: 2%;
	cursor: pointer;
	padding: 2%;

  }